<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Badreddine Bendriss. It uses data from mapbox.com API and darksky.com API, to provide weather from a given location.</p>
        <img class="portrait" src="/img/me.jpg" alt="Profile pic">
    </div>

    {{>footer}}
</body>
</html>